#product_container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 25px;
    width: 65%;
    margin: 25px auto 25px auto;
    /*background-color: black;*/
    text-align: left;
}

#img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.80);
    border-radius: 20px;
}

#product_img {
    object-fit: contain;
    width: 300px;
    height: 300px;
}

#product_name {
    font-family: "Radio Canada Big", "Roboto", "Poppins", "sans-serif";
    font-size: 40px;
    margin: 0 0 15px 0;
    color: black;
    text-align: left;
}

#product_description {
    font-family: "Inter", "Roboto", "Poppins", "sans-serif";
    font-size: 20px;
    margin: 0 0 50px 0;
}

#product_buttons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 15px;
}

button {
    width: 50%;
}

#product_info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
    height: 600px;
    width: 100%;
    /*background-color: red;*/
}

.tag {
    padding: 12px 24px;
    background-color: rgba(0, 0, 0, 0);
    color: #0071e3;
    border: 1px #0071e3 solid;
    font-family: "Inter", "Roboto", "Poppins", "sans-serif";
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: auto;
}

.tag:hover {
    background-color: #0071e3;
    color: white;
}

#tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

#product_price {
    font-family: "Inter", "Roboto", "Poppins", "sans-serif";
    font-size: 25px;
    color: black;
    font-weight: 700;
}